[Desktop Entry]
Name=Cardes du Ciel
Type=Application
Comment=Cartes du Ciel - skycharts.
Exec=skycharts
TryExec=skycharts
Icon=skycharts
Categories=Education;Science;Astronomy;
